* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.cafe-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.cafe-video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}